h1{
    size: 50px;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    size: 30px;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}